# Kompilert kode
bin/
*.class

# Autogenerert dokumentasjon
docs/api/

# IDE-spesifikke filer
.vscode/
*.swp
.DS_Store

# Logger, rapporter og Black Box-data (Historikken skal være lokal)
logs/*.csv
logs/*.jsonl
logs/*.md
logs/mission_summary.md

# Midlertidige filer og rålogger
*.log
*.tmp

# Javadoc
docs/api/