# Kompilert kode
bin/
*.class

# Autogenerert dokumentasjon
docs/api/

# IDE-spesifikke filer
.vscode/
*.swp
.DS_Store

# Logger og rapporter (Historikken skal være lokal)
logs/ncr_report.csv
logs/mission_summary.md

# Midlertidige filer
*.log
*.tmp

# Javadoc
docs/api/